// Main button style
.button__main {
  padding: 4px 12px;
  font-size: 8px;
  border-radius: 12px;
  border: 0px;
  background: #323430;
  color: aliceblue;
  cursor: pointer;
}

.scale-hover {
  transition: transform 0.18s cubic-bezier(.25,.8,.25,1);
}
.scale-hover:hover {
  transform: scale(1.16);
}
