// LowerPage3 container styles
.lower-page3__container {
  width: 100%;
  height: auto;
  background: #fefce3;
}

// LowerPage3 main layout
.lower-page3 {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 50px 20px;
  justify-content: center;
}

// Content box styles
.lower-page3__content {
  border: 1px solid gray;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  padding: 20px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.lower-page3__content > p {
  font-size: 12px;
  width: 80%;
  text-align: center;
}

.lower-page3__content > button {
  width: 80px;
}
