.footer-container{
    width: 100%;
    background: rgb(63, 60, 60);
}

.footer{
        color: #fefce3;
        max-width: 1080px;
        width: 100%;
        margin: auto;
        padding: 50px 20px;
        display: flex;
        justify-content: space-between;
        /* justify-content: center; */
        flex-wrap: wrap;
        /* gap: 110px; */
}
.footer h5{
    margin-bottom: 12px;
}

.footer-column-1 , .footer-column-2 , .footer-column-3 , .footer-column-4{
  
    padding: 20px 12px;
}



.footer ul {
    

    list-style: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}


@media only screen and (max-width: 840px){

    .footer-column-1 , .footer-column-2 , .footer-column-3 , .footer-column-4{
  
       min-width: 250px;
    }

    
}


@media only screen and (max-width: 720px){

   .footer{
    justify-content: center; 
   }

    
}


@media only screen and (max-width: 480px){

    .footer-column-1 , .footer-column-2 , .footer-column-3 , .footer-column-4{
     text-align: center;
    }
    
 
     
 }
 
